@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--fontColor);
    background-color: var(--bodyBackground) !important;
    font-family: 'Fira Sans', sans-serif !important;
}

:root {
    --bodyBackground: #f3f6f7;
    --componentBackgound: #fefefe;
    --fontColor: #1b1e21;
    --buttonBackground: #ecf6fd;
    --mainColor: #0098fe;
}

/* right component */
.right-wrapper {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
}

.right-wrapper-content {
    grid-column-start: 3;
    width: 20vw;
}

.right-component {
    width: 19vw;
    position: fixed;
    height: 98vh;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 20px;
    background: var(--componentBackgound);
    border: 2px solid var(--buttonBackground);
}

.chatLogo {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.chatList-images {
    display: flex;
    overflow-x: scroll;
    margin: 0 10px;
}

.chatList-images-buttons {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    margin: 0 5px;
}

.rightCom {
    position: relative;
    height: 98vh;
    width: 19vw;
}

.msg {
    color: var(--fontColor);
    font-weight: 400;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chatList {
    margin: 2rem auto;
}

.chatListRow {
    margin: 1rem auto 0 auto;
}

.newChatBtnDiv {
    bottom: 1rem;
    padding: 0 10px;
    position: absolute;
}

.newChatBtn {
    background: var(--buttonBackground);
    width: 200px;
    color: var(--mainColor);
    margin-left: 15px;
}

.newChatBtn:hover {
    color: var(--mainColor);
}

/* left component */
.siteLogo {
    height: 25px;
    width: auto;
    margin-right: -2px;
}

.left-component {
    width: 19vw;
    background: var(--componentBackgound);
    position: fixed;
    margin-left: 10px;
    height: 98vh;
    margin-top: 5px;
    border-radius: 20px;
    border: 2px solid var(--buttonBackground);
}

.left-component-wrapper {
    height: 98vh;
    position: relative;
}

.brandName {
    text-align: center;
    margin-top: 1rem;
    color: var(--mainColor);
    font-weight: 700;
    font-size: 25px;
}

.hLine {
    background: var(--buttonBackground) !important;
    width: 80%;
    text-align: center;
}

.searchBox {
    border: 2px solid var(--bodyBackground) !important;
    width: 80%;
    border-radius: 30px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

.searchBox:focus{
    box-shadow: none !important;
    border-radius: 30px !important;
}

.searchBox::-webkit-input-placeholder {
    font-family: FontAwesome, 'Fira Sans', sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: var(--mainColor);
}

.searchBox::-moz-placeholder  {
    font-family: FontAwesome, 'Fira Sans', sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: var(--mainColor);
}

.searchBox:-ms-input-placeholder  {
    font-family: FontAwesome, 'Fira Sans', sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    color: var(--mainColor);
}

.navItemDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navItemList {
    list-style: none;
    margin: 30px 0;
}

.navListItem {
    margin: 20px auto;
}

.navItem {
    color: var(--fontColor);
    font-size: 20px;
    text-decoration: none;
}

.navItem:hover {
    color: var(--mainColor);
    text-decoration: none;
}

.bottom-content {
    bottom: 1rem;
    position: absolute;
    width: 100%;
    padding: 1rem;
}

.bottom-profile-image {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
}

.profileName {
    font-size: 16px;
}

.online {
    font-size: 12px;
    color: green;
}

/* children's */
.content-wrapper {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
}

.content {
    grid-column-start: 2;
}

/*profile page*/
.profileRow {
    width: 100%;
    margin: 20px auto;
    border-radius: 30px;
    padding: 1rem;
    background: var(--componentBackgound);
    border: 2px solid var(--buttonBackground);
    height: auto;
}

.profileImage {
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;
}

.profileTopName {
    font-size: 25px;
    font-weight: 500;
}

.bio {
    font-size: 14px;
    font-weight: 400;
}

.ownerInfo {
    margin: auto 0 auto 20px;
    align-items: center;
}

.ownerOtherInfo {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    float: right;
}

.dropdownDiv {
    margin-left: auto;
}

.followDiv {
    float: right;
    margin-top: 10px;
}

.followInfo {
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}

.followInfo span{
    font-weight: 600;
}

.followSocialDiv {
    margin-left: auto;
}

.fIcon{
    margin: 0 2px;
    font-size: 18px;
    color: #646464;
}

.dropdownBtn {
    padding: 0 8px !important;
    background: var(--buttonBackground) !important;
    border: none !important;
    color: var(--mainColor) !important;
    font-size: 14px !important;
}

.dropdownBtn:focus {
    border: none !important;
    box-shadow: none !important;
}

.postBox {
    border: 2px solid var(--bodyBackground) !important;
    width: 100%;
    border-radius: 20px;
    /*padding: 10px;*/
}

.postBox:focus{
    box-shadow: 2px solid var(--mainColor) !important;
    border-radius: 20px;
}

.postBottom {
    align-items: center !important;
}

.postIcon {
    margin: 0 10px;
    font-size: 20px;
    color: #646464;
}

.postIcons {
    margin-top: 1rem;
}

.postBtn {
    float: right;
    margin-top: 10px;
    background: var(--mainColor) !important;
    width: 150px !important;
    color: var(--componentBackgound);
}

.postBtn {
    color: var(--componentBackgound);
}

