* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--fontColor);
    background-color: var(--bodyBackground) !important;
    font-family: 'Fira Sans', sans-serif !important;
}

/*body{*/
/*    margin:0;*/
/*    padding:0 200px 0 200px;*/
/*}*/

:root {
    --bodyBackground: #f3f6f7;
    --otherBackgound: #fefefe;
    --fontColor: #1b1e21;
    --buttonBackground: #ecf6fd;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
}

.content {
    grid-column-start: 2;
}

.sidebar-left {
    width: 19vw;
    background: #fefefe;
    position: fixed;
    margin-left: 10px;
    height: 98vh;
    margin-top: 5px;
    border-radius: 20px;
}

.sidebar-right {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
}

.content > div {
    height: 200px;
    margin: 10px;
    background: #1b1e21;
}

.sidebar-content {
    grid-column-start: 3;
    width: 20vw;
}

.lalala {
    width: 19vw;
    position: fixed;
    height: 98vh;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 20px;
    background: #fefefe;
}
